.container{
    width: 80%;
    margin: 0 auto;
}

input{
    font-size: 1.1rem;
    margin-top: 5px;
}

label{
    font-weight: bold;
    font-size: 1.1rem;
}

select{
    font-size: 1.1rem;
    margin-top: 5px;
    width: 20%;
}

button {
    font-size: 1.1rem;
    margin-top: 5px;
    width: 20%;
    background-color: rgb(24, 24, 53);
    color: white;
    padding: 3px;
    border-radius: 3px;
}